Login_Page.json
[
  {
    "id": "5c65941a.a85b6c",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "87d3e42d.d7652",
    "type": "ui_text_input",
    "z": "5c65941a.a85b6c",
    "name": "Login_ID",
    "label": "Login ID",
    "tooltip": "",
    "group": "bdf902e4.0acb98",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 320,
    "y": 200,
    "wires": [
      [
        "283bdd2a.1cebd2"
      ]
    ]
  },
  {
    "id": "17950083.45b57f",
    "type": "ui_text_input",
    "z": "5c65941a.a85b6c",
    "name": "Pasword",
    "label": "Pasword",
    "tooltip": "",
    "group": "bdf902e4.0acb98",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "password",
    "delay": 300,
    "topic": "topic",
    "topicType": "msg",
    "x": 320,
    "y": 260,
    "wires": [
      [
        "5683a947.0fe65"
      ]
    ]
  },
  {
    "id": "663aeb78.53585c",
    "type": "ui_button",
    "z": "5c65941a.a85b6c",
    "name": "Login",
    "group": "bdf902e4.0acb98",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Login",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": " ",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 130,
    "y": 320,
    "wires": [
      [
        "87d3e42d.d7652",
        "17950083.45b57f",
        "6d843f9f.36c598"
      ]
    ]
  },
  {
    "id": "90114eda.5f4d98",
    "type": "ui_ui_control",
    "z": "5c65941a.a85b6c",
    "name": "",
    "events": "all",
    "x": 1000,
    "y": 300,
    "wires": [
      [
        
      ]
    ]
  },
  {
    "id": "70ae478b.cfda2",
    "type": "function",
    "z": "5c65941a.a85b6c",
    "name": "",
    "func": "var lid=global.get(\"LID\");\nvar pwd=global.get(\"PWD\");\nif(lid === \"David_0909\" && pwd == \"qwerty1234\")\n{\n    msg.payload = 1;\n}\nelse\n{\n    msg.payload = 0;\n}\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 320,
    "wires": [
      [
        "6d9ffd5b.cfddf4"
      ]
    ]
  },
  {
    "id": "5683a947.0fe65",
    "type": "function",
    "z": "5c65941a.a85b6c",
    "name": "",
    "func": "global.set(\"PWD\",msg.payload);",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 260,
    "wires": [
      [
        
      ]
    ]
  },
  {
    "id": "283bdd2a.1cebd2",
    "type": "function",
    "z": "5c65941a.a85b6c",
    "name": "",
    "func": "global.set(\"LID\",msg.payload);",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 540,
    "y": 200,
    "wires": [
      [
        
      ]
    ]
  },
  {
    "id": "6d843f9f.36c598",
    "type": "delay",
    "z": "5c65941a.a85b6c",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 320,
    "y": 320,
    "wires": [
      [
        "70ae478b.cfda2"
      ]
    ]
  },
  {
    "id": "6d9ffd5b.cfddf4",
    "type": "switch",
    "z": "5c65941a.a85b6c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "0",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 690,
    "y": 320,
    "wires": [
      [
        "360faac7.d1f9ce"
      ],
      [
        "9466099f.03dff8"
      ]
    ]
  },
  {
    "id": "4f383da2.a4434c",
    "type": "ui_text",
    "z": "5c65941a.a85b6c",
    "group": "bdf902e4.0acb98",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Login Status",
    "label": "Login Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1010,
    "y": 360,
    "wires": [
      
    ]
  },
  {
    "id": "360faac7.d1f9ce",
    "type": "function",
    "z": "5c65941a.a85b6c",
    "name": "",
    "func": "msg.payload = \"Dashboard\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 840,
    "y": 300,
    "wires": [
      [
        "90114eda.5f4d98"
      ]
    ]
  },
  {
    "id": "9466099f.03dff8",
    "type": "function",
    "z": "5c65941a.a85b6c",
    "name": "",
    "func": "msg.payload = \"Failed\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 840,
    "y": 340,
    "wires": [
      [
        "4f383da2.a4434c"
      ]
    ]
  },
  {
    "id": "bdf902e4.0acb98",
    "type": "ui_group",
    "name": "Login Page",
    "tab": "11f4a990.0abade",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "11f4a990.0abade",
    "type": "ui_tab",
    "name": "Hospital Management",
    "icon": "dashboard",
    "order": 4,
    "disabled": false,
    "hidden": false
  }
]
